h1, p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-inline: 100px;
}
p{
    font-size: 15px;
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
 
button{
    margin: 10px;
    padding: 10px;
}

.opcion1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label{
    margin: 10px;
}

#submit,
#submit2,
#submit3,
#submit4,
#submit5,
#submit6,
#submit7,
#submit8,
#submit9,
#submit10,
#submit11,
#submit12{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;
}