h1, p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-inline: 100px;
}
p{
    font-size: 15px;
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
 
button{
    margin: 10px;
    padding: 10px;
}

.opcion1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label{
    margin: 10px;
}

#submit{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;
}

#submit2{
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: aquamarine;    
}

#submit3{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;    
}

#submit4{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;    
}

#submit5{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;    
}

#submit6{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;    
}

#submit7{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;    
}